.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hide arrows in number attribute */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
